.dark-blue-text {
    border-radius: calc(5vw + 20px) calc(5vw + 20px) 0 0;
    margin: 0 2vw;
    padding: 0.75rem 7.5%;
}

.carousel-item .title {
    font-size: 1.4rem;
    margin-left: 5vw;
    margin-right: 5vw;
}

.carousel-indicators {
    bottom: -75px;
    padding-bottom: 30px;
}

.carousel-indicators li {
    background: #5078fa;
    border-radius: 100%;
    height: 1px;
    min-height: 0 !important;
    width: 21px;
    transform: scale(0.5);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    /* filter: sepia() saturate(10000%) hue-rotate(178.5deg); */
    filter: drop-shadow(0px 0px 3px #698bfa);
}

.onboarding-bg {
    background: url("../graphics/onboarding-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 20%;
}

.carousel-item .title,
.carousel-item .onboarding-desc {
    max-width: calc(28rem);
}

.onboarding-bg button {
    max-width: 16rem;
    min-width: 150px;
    width: 35%;
}

@media (min-width: 768px) {
    .onboarding-bg {
        background-size: 100% 100%;
        background-position: 40% 0%;
    }

    .carousel-indicators {
        bottom: -83px;
    }
}
